<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n-key="header_title">LARUbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="language-switcher" style="position: absolute; top: 10px; right: 10px; z-index: 100;">
        <button onclick="setLanguage('ja')">日本語</button>
        <button onclick="setLanguage('en')">English</button>
    </div>

    <div class="chatbot-container">
        <div class="chatbot-header" data-i18n-key="header_title">
            LARUbot
        </div>
        <div class="chatbot-messages" id="chatbot-messages">
            <div class="message bot-message" data-i18n-key="welcome_message">こんにちは！LARUbot(ラルボット)です！ 何か質問はありますか？(プラン説明や導入までの流れなど)</div>
            <div class="example-questions-container" id="example-questions-container">
                {% for question in example_questions %}
                <button class="example-btn">{{ question }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="chatbot-input">
            <input type="text" id="user-input" placeholder="メッセージを入力..." data-i18n-key-placeholder="input_placeholder" onkeypress="handleKeyPress(event)">
            <button onclick="sendMessage()" data-i18n-key="send_button">送信</button>
        </div>
    </div>
   <script src="/static/script.js"></script>
</body>
</html>