<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIチャットボット</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chatbot-container">
        <div class="chatbot-header">LARUbot</div>
        <div class="chatbot-messages" id="chatbot-messages">
            <div class="message bot-message">こんにちは！LARUbot(ラルボット)です！ 何か質問はありますか？(プラン説明や導入までの流れなど) </div>
            <div class="example-questions-container">
                <button class="example-btn">シンプルAIプラン</button>
                <button class="example-btn">質問例付きAIプラン</button>
                <button class="example-btn">カスタマイズプラン</button>
                <button class="example-btn">ご利用の流れについて</button>
            </div>
        </div>
        <div class="chatbot-input">
            <input type="text" id="user-input" placeholder="メッセージを入力..." onkeypress="handleKeyPress(event)">
            <button onclick="sendMessage()">送信</button>
        </div>
    </div>
   <script src="/static/script.js"></script>
</body>
</html>
